# conda create -n env python=3.10 umap-learn scikit-learn pandas numpy scipy jupyterlab -c conda-forge

plotly
dash
dash-cytoscape
dash_extensions
dash_dangerously_set_inner_html
tree_sitter
parso
seaborn
altair
altair_saver
kaleido
spectra
lz4
igraph
statsmodels
