pandas
numpy
scikit-learn
umap-learn # via conda

plotly
dash
dash-cytoscape
dash_extensions
dash_dangerously_set_inner_html
tree_sitter
parso
seaborn
altair
altair_saver
kaleido
scipy
spectra
lz4
jupyterlab
igraph
statsmodels
