body {
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}

#logomark {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: Consolas;
  font-size: 30px;
}

#logomark img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  vertical-align: bottom;
}

.comparison {
  text-align: center;
  margin: 0 20px;
}

.thumbnails th,
.thumbnails td {
  padding: 10px;
}

.thumbnails img {
  max-height: 150px;
  max-width: 150px;
  cursor: pointer;
}

/*
.zoomable {
  border: 1px solid white;
}
.zoomable:hover {
  transform: scale(2);
  border: 1px solid black;
}
*/

.singleWrapper {
  border: 1px solid lightgray;
  padding: 0 10px;
  border-radius: 3px;
}

.regular_thumb {
  border: 2px solid white;
}
.selected_thumb {
  border: 2px solid red;
}

pre {
  font-size: 11px;
  font-family: Menlo, Monaco, Consolas;
  line-height: 1.5 !important;
}

details[open] {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
}

details {
  padding-bottom: 5px;
  padding-top: 4px;
}

summary {
  text-align: center;
  cursor: pointer;
  user-select: none;
}
